@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

#chapter-13 blockquote:last-of-type p{
	text-indent: 0;
}

#chapter-13 blockquote:first-of-type,
#chapter-5 blockquote{
	text-align: center;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
}

header{
	text-align: center;
	font-variant: small-caps;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
